* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* head section */
header {
  width: 100%;
  padding: 6px 0;
  position: fixed;
  z-index: 10;
  background-color: white;
}

.headSection {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.headSection .logo {
  float: left;
}

.headerNav {
  float: right;
}

.headerNav ul li {
  float: left;
  margin: 0 20px;
  margin-top: 18px;
}

.headerNav ul li a {
  font-size: 21px;
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* body section */
.banner {
  background-image: url("../images/banner2.jpg");
  background-position: bottom;
  background-size: cover;
  height: 800px;
  position: relative;
  top: 87px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  width: 100%;
}

.banner div {
  text-align: center;
  width: 100%;
}

.banner div p {
  color: white;
  font-size: 35px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-bottom: 18px;
  font-weight: bold;
}

.banner div a {
  color: white;
  background-color: red;
  padding: 15px 25px;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
}

.banner div a:hover {
  background-color: rgb(240, 114, 114);
}

/* footer section */
footer {
  position: relative;
  top: 87px;
  background-color: lightgray;
  margin: 0;
  padding: 0;
  border-top: 4px solid gray;
  width: 100%;
}

.footerSection {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  height: 180px;
  border-bottom: 3px solid gray;
}

.footerSection ul li {
  float: left;
  width: 22%;
  margin: 25px 1.5%;
}

.footerSection h2 {
  margin-bottom: 10px;
  font-size: 26px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.footerSection a {
  color: black;
}

.copyrights {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.copyrights img {
  height: 50px;
}

/* TABLETS */
@media screen and (max-width: 705px) {
  /* head section */
  header {
    padding: 6px 0;
    position: unset;
  }

  .headSection {
    text-align: center;
  }

  .headSection .logo {
    float: none;
  }

  .headerNav {
    float: none;
    display: flex;
    justify-content: center;
  }

  .headerNav ul li {
    display: inline;
    margin: 10px 25px;
  }

  /* body section */
  .banner {
    position: unset;
    top: 0;
  }

  /* footer section */
  footer {
    position: unset;
    top: 0px;
  }

  .footerSection {
    height: 310px;
  }

  .footerSection ul li {
    width: 40%;
    margin: 15px 5% 0 5%;
    height: 120px;
  }
}

/* SMARTPHONES */

@media screen and (max-width: 465px) {
  /* head section */
  .burger-nav {
    height: 40px;
    display: block;
    width: 100%;
    background: url("../images/menu.jpg") no-repeat right center;
    background-color: inherit;
    cursor: pointer;
    margin: 0;
    padding: 0;
  }

  .headerNav ul.open {
    height: auto;
  }

  .headerNav ul {
    height: 0;
    overflow: hidden;
  }

  header {
    padding: 6px 0 0 0;
    position: unset;
  }

  .headSection {
    text-align: center;
  }

  .headSection .logo {
    float: none;
  }

  .headerNav {
    float: none;
    display: unset;
    justify-content: unset;
  }

  .headerNav ul li {
    display: unset;
    margin: 0;
    padding: 8px 0;
    width: 100%;
    text-align: left;
    background-color: rgb(235, 231, 231);
    border-top: 1px solid rgb(151, 66, 66);
  }

  /* body section */
  .banner {
    height: 600px;
  }

  .banner div p {
    color: white;
    font-size: 30px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    margin-bottom: 18px;
    font-weight: bold;
  }

  /* footer section */

  .footerSection {
    height: 520px;
    text-align: center;
  }

  .footerSection ul li {
    float: none;
    width: 80%;
    margin: 15px auto;
    height: 100px;
  }
}

/* very small devices */
@media screen and (max-width: 290px) {
  /* footer section */

body{
  min-width: 290px;
}

}
